<!-- This is code for the welcome splash page -->

<ion-view class="blue-gradient">
    <ion-content scroll="false" >
        <section class= "welcomeobjects">
            
            <div class="col header text-center">
                <i class="icon ion-calculator"></i>
            </div>
            <!-- Will fix to display correct name -->
              <div class = "col text-center">
              Welcome, John
              </div>
               <div class="col text-center">
                <h1>Cents</h1>
            </div>
            <div class = "col text-center">
               <img src="http://placehold.it/150x150" alt="Photo" />
            </div>
        </section>
         
         <div class="welcomebuttons list">
             <div class="item  icon-right ion-chevron-right button button-full button-large button-assertive">
            SIGN IN
              </div>
                <div class=" last item  icon-right ion-chevron-right button button-full button-large button-assertive">
             NEW ACCOUNT
              </div>
         </div>
    </ion-content>
    
</ion-view>